In [16]:
import requests
from config import cckey
import pandas as pd
import sys, json
import json

# Get hourly market data for the following cryptocurrencies:

#1. Bitcoin     BTC
#2. Ethereum    ETH
#3. XRP         XRP
#4. Tether      USDT
#5. Cardano     ADA
#6. Monero      XMR
#7. Stellar     XLM
#8. BinanceCoin BNB
#9. Litecoin    LTC
#10.Dogecoin    DOGE

symbols=['BTC','ETH','XRP','USDT','ADA','XMR','XLM','BNB','LTC','DOGE']
for symbol in symbols:

    df = results = dfinput = dfactual = pd.DataFrame()
    url = 'https://min-api.cryptocompare.com/data/v2/histominute?'
    
    # Set the number of datapoints to retrieve
    n = 2000
    
    # Set the number of test sets to generate
    tests = 1
    
    # Set the analysis window size
    WINDOWSIZE = 192
    
    # Initial toTimeStamp needs to be -1 (up to the timestamp of the call)
    # Set totime to zero
    totime = 0
    while (1):
        params = {'fsym':symbol,'tsym':'USD','limit':n,'toTs':totime-1,'api_key':cckey}
        response = requests.get(url, params=params).json()
        if response['Response'] != 'Success':
            break

        # Append the 2000 rows of data to the dataframe
        i = len(response['Data']['Data'])-1
        while (i >= 0):
            data = response['Data']['Data'][i]
            results = pd.DataFrame(data=response['Data']['Data'][i],index=['time'])
            df = df.append(results.set_index('time'))
            i -= 1
            
        # Stop when we reach the nth point
        totime = response['Data']['TimeFrom']
        if len(df) > n:
            break
            
        # Report status
        print("Got to timestamp "+str(totime))
        
    # Report final status and save csv file
    print("Got to timestamp "+str(totime))
    print("Done with "+symbol)
    #df = df[df.index>1642791600]  # Get up to a certain time
    adf = pd.DataFrame()
    for a in range(tests):         # Get the last 10 sets
        adf = df.head(WINDOWSIZE*2+WINDOWSIZE*2*(a+1)).tail(WINDOWSIZE*2)
        adfinput = adf.tail(WINDOWSIZE+1)
        adfactual = adf.head(WINDOWSIZE+1)
        adfinput.to_csv("test"+str(a)+"_"+symbol+".csv")
        adfactual.to_csv("real"+str(a)+"_"+symbol+".csv")
print("Done with everything.")

Got to timestamp 1644032580
Done with BTC
Got to timestamp 1644032580
Done with ETH
Got to timestamp 1644032580
Done with XRP
Got to timestamp 1644032580
Done with USDT
Got to timestamp 1644032580
Done with ADA
Got to timestamp 1644032580
Done with XMR
Got to timestamp 1644032580
Done with XLM
Got to timestamp 1644032580
Done with BNB
Got to timestamp 1644032640
Done with LTC
Got to timestamp 1644032640
Done with DOGE
Done with everything.

In [14]:
df

,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
time,,,,,,,,
1637686800,0.2319,0.2278,0.2296,22806727.55,5234005.83,0.2280,direct,
1637683200,0.2315,0.2283,0.2305,18172066.37,4179344.66,0.2296,direct,
1637679600,0.2338,0.2288,0.2335,23109743.70,5340597.58,0.2305,direct,
1637676000,0.2350,0.2270,0.2271,49815947.02,11537371.97,0.2335,direct,
1637672400,0.2279,0.2235,0.2235,14724274.14,3331290.36,0.2271,direct,
...,...,...,...,...,...,...,...,...
1637013600,0.2589,0.2567,0.2588,8691636.97,2239436.71,0.2582,direct,
1637010000,0.2591,0.2555,0.2574,14500058.55,3733646.90,0.2588,direct,
1637006400,0.2592,0.2570,0.2592,7248548.15,1868809.51,0.2574,direct,
1637002800,0.2592,0.2566,0.2576,6173796.84,1592618.56,0.2592,direct,
1636999200,0.2590,0.2565,0.2583,9416734.90,2428862.47,0.2576,direct,